<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit reaction</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">  
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark p-3">	
  <a class="navbar-brand" href="#">padka-web-api</a>	
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">	
    <span class="navbar-toggler-icon"></span>	
  </button>	
  <div class="collapse navbar-collapse" id="navbarCollapse">	
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">	
        <a class="nav-link" href="/transitions">Transitions </a>	
      </li>
      <li class="nav-item active">	
        <a class="nav-link active" href="/reactions">Reactions</a>	
      </li>	
      <li class="nav-item">	
        <a class="nav-link" href="/music">Music</a>	
      </li>	
    </ul>	
  </div>	
  <br>    
  <center><a href="/downloadAllAsJSON" class="btn btn-success m-3">Download All as JSON</a></center>	
  <center><a href="/admin" class="btn btn-secondary m-3">Admin</a></center>  	
</nav>

<form method="POST" class="post-form" action="/reactions/update/{{reaction.id}}" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Details</h3>
    </div>
  </div> 
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Reaction priority:</label>  
    <div class="col-sm-4">  
        <input type="text" name="priority" id="id_priority" required value="{{ reaction.priority }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Reaction name:</label>  
    <div class="col-sm-4">  
        <input type="text" name="name" id="id_name" required value="{{ reaction.name }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Reaction file name:</label>  
    <div class="col-sm-4">  
        <input type="file" name="filename" id="id_filename" required value="{{ reaction.filename }}" />  
    </div>  
  </div>   
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Reaction thumbnail:</label>  
    <div class="col-sm-4">  
        <input type="file" name="thumbnail" id="id_thumbnail" required value="{{ reaction.thumbnail }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div> 
  <br> 
  <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
      <a href="/reactions" class="btn btn-primary">Back to reactions</a>
    </div>  
  </div>
    </div>  
</form>  
</body>  
</html>  